@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@font-face {
	font-family: "Colus";
	src: url(fonts/Colus-Regular.woff2) format("woff2"),
		url(fonts/Colus-Regular.woff) format("woff");
}

:root {
	--dark-color: #181818;
	--primary-color: #f3e3cf;
	--secondary-color: #f2f2f2;
	--accent-color: #f9423a;
	--accent-color-rover: #df4038;
	--accent-alt-color: #42b1db;
	--accent-alt-color-hover: #56badf;
	--accent-alt-color2: #5db373;
}

::selection {
	background: #eab044;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Jost", sans-serif;
	color: var(--dark-color);
	font-size: 1.15rem;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.15px;
	position: relative;
}

h1 {
	font-family: "Colus", Georgia, sans-serif;
}

p {
	max-width: 57ch;
	margin-bottom: 20px;
}

h1 {
	max-width: 15ch;
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 4.387rem;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -1.25px;
}

h2 {
	max-width: 690px;
	margin-top: -10px;
	margin-bottom: 4rem;
	font-size: 2.246rem;
	line-height: 1.25;
	font-weight: 700;
	text-align: left;
	letter-spacing: -0.5px;
}
h3 {
	font-size: 2rem;
}

ul {
	list-style: none;
}

/* Utilities =================================================== */

.container-new {
	display: flex;
	margin-bottom: 3vw;
	align-items: flex-start;
}

.col-10 {
	display: flex;
	width: 10%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-15 {
	display: flex;
	width: 15%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-25 {
	display: flex;
	width: 25%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-50 {
	display: flex;
	width: 50%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-65 {
	display: flex;
	width: 65%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-75 {
	display: flex;
	width: 75%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
	/* align-items: flex-start; */
}

.col-100 {
	display: flex;
	width: 100%;
	padding-right: 1vw;
	padding-left: 1vw;
	flex-direction: column;
}

/* Sections */

.section {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 100px 3% 60px;
}

.btn {
	margin-top: 20px;
	display: inline-block;
	border: none;
	background: var(--accent-color);
	border-radius: 5px;
	color: #fff;
	transition: background 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 500ms ease;
	font-family: inherit;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.btn.call-to-action {
	padding: 20px 36px;
}
.btn.call-to-action.blue {
	background-color: var(--accent-alt-color);
	color: var(--dark-color);
}
.btn.call-to-action:hover.blue {
	background-color: var(--accent-alt-color-hover);
	color: var(--dark-color);
}

.btn.case-study {
	padding: 10px 18px;
}

.btn:hover {
	background: var(--accent-color-rover);
	color: #fff;
	transform: translateY(-1px);
}

.paragraph-medium {
	max-width: 53ch;
	font-size: 1.438rem;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0;
	text-decoration: none;
}

.line-title {
	width: 60px;
	height: 4px;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #eab044;
}

.line-title.green {
	background-color: #5db373;
}

.line-title.green {
	background-color: var(--accent-alt-color2);
}

.line-title.blue {
	background-color: var(--accent-alt-color);
}
.line-title.red {
	background-color: var(--accent-color);
}

.overline {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	color: var(--accent-color);
	font-size: 2rem;
	margin-bottom: 10px;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

/* Scroll indicator */
.scrolldown {
	position: absolute;
	bottom: 6.5%;
	left: 50%;
	width: 15px;
	height: 15px;
	transform: rotate(45deg) translateX(-50%);
}

.scrolldown span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-bottom: 2px solid var(--dark-color);
	border-right: 2px solid var(--dark-color);
	animation: scroll-indicator 1.5s linear infinite;
	opacity: 0;
}

.scrolldown span:nth-child(1) {
	transform: translate(-15px, -15px);
	animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
	transform: translate(0px, 0px);
	animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
	transform: translate(15px, 15px);
	animation-delay: 0s;
}
@keyframes scroll-indicator {
	0% {
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25% {
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	50%,
	100% {
		top: 5px;
		left: 5px;
		opacity: 0;
	}
}

/* Tags */

.item-text-category .skill-tag {
	background-color: #e6ba9d;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}
.item-text-category .skill-tag:first-child {
	margin-left: 0.5rem;
}
.item-text-category.skill-cotainer {
	justify-content: center;
	margin-bottom: 1rem;
}

/* Showcase =================================================== */

#showcase {
	background-image: url(/images/microphone-crop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#showcase::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
}
#showcase > * {
	z-index: 10;
}

.showcase {
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background: var(--dark-color);
	color: #fff;
	text-align: left;
}

.showcase-title {
	margin-bottom: 20px;
	color: var(--accent-color);
}

.showcase-text {
	text-align: left;
	max-width: 37ch;
}

/* Equipment ============================================ */

.equipment {
	background-color: var(--dark-color);
}
/* 
.about p {
	max-width: 46ch;
} */

.equipment-card {
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	padding: 2rem 3vw;
	background-color: white;
	color: var(--dark-color);
	border-radius: 5px;
}

.equipment-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.equipment-image {
	width: 50%;
}

.equipment-text {
	width: 50%;
}

.equipment .amazon-img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.equipment img {
	width: auto;
	max-height: 500px;
	display: block;
	margin: 0 auto;
}

.btn-amz-image img {
	width: 200px;
	margin: 1rem 0 0 0;
}
.btn-amz-image:hover {
	background-color: #f2f2f2;
}

.tag-cotainer {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	padding: 0.4rem 0.8rem;
	background-color: var(--dark-color);
	color: white;
	border-radius: 5px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
}

.tag-link:hover {
	color: var(--accent-color);
}

.tag-link {
	color: white;
}
/* End About */

/* Contact ================================================ */

.hidden {
	visibility: hidden !important;
	height: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

.form---success {
	padding: 0;
	background-color: transparent;
	text-align: left;
	padding: 20px;
	text-align: center;
	background-color: transparent;
}
.form-hidden {
	display: none;
}
.form-done {
	display: block;
}

/* End Contact */
/* Footer ================================================ */

#footer {
	background-color: #000;
}

#footer .col-25 {
	margin-bottom: 10px;
}

#footer p,
#footer a {
	font-size: 1rem;
	color: #fff;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.footer-menu li {
	padding-right: 1.5rem;
}

.social {
	display: flex;
}

.social img {
	width: 45px;
	margin-left: 0;
	margin-right: 1rem;
	transform: translateX(-5px);
}

#footer .p-copyright,
#footer .p-copyright a {
	font-size: 0.7rem;
}

.container-new.footer-copyright {
	margin-bottom: 0;
}

/* End Footer */
/* Contact ================================================ */

.contact {
	background-color: #000;
	color: #fff;
}

.form input,
textarea {
	width: 100%;
	display: block;
	font-family: inherit;
	border: 2px solid #fff;
	border-radius: 4px;
	font-size: 1.15rem;
	color: #333;
	padding: 16px 4vw 16px 2vw;
	margin-bottom: 0.6rem;
	max-width: 690px;
}

.form textarea {
	min-height: 400px;
	height: auto;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
	margin-bottom: 1.5rem;
}

.form input:focus,
textarea:focus {
	box-sizing: border-box;
	outline: 2px solid grey;
}

.form button {
	font-size: 1.15rem;
}

.contact p {
	margin-bottom: 3rem;
}

.hidden {
	visibility: hidden !important;
	height: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

.form---success {
	padding: 0;
	background-color: transparent;
	text-align: left;
	padding: 20px;
	text-align: center;
	background-color: transparent;
}
.form-hidden {
	display: none;
}
.form-done {
	display: block;
}

/* End Contact */
/* Responsive ================================================ */

@media (max-width: 991px) {
	h1,
	h2,
	ul {
		max-width: 640px;
	}
	p {
		max-width: 54ch;
	}

	.section {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.section.equipment {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.container-new {
		flex-direction: column;
		padding-left: 2vw;
		padding-right: 2vw;
	}
	.col-100,
	.col-75 {
		width: 100%;
	}
	.col-25 {
		width: 100%;
		margin-bottom: 40px;
	}
	.overline {
		writing-mode: horizontal-tb;
		transform: rotate(0);
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 767px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul {
		max-width: 500px;
	}
	.section {
		padding-top: 40px;
	}

	.equipment-content {
		flex-direction: column;
	}
	.equipment-image {
		width: 100%;
		margin-bottom: 40px;
	}
	.equipment-text {
		width: 100%;
	}
}

@media (max-width: 479px) {
	h1 {
		max-width: 100%;
		margin-bottom: 20px;
		font-size: 2.8rem;
		letter-spacing: -0.5px;
		margin-top: 4rem;
	}
	h2 {
		max-width: 100%;
		margin-bottom: 20px;
		font-size: 1.7rem;
		letter-spacing: -0.25px;
	}
	h3 {
		max-width: 100%;
		margin-bottom: 20px;
		font-size: 1.8rem;
		letter-spacing: -0.25px;
	}
	p {
		max-width: 100%;
	}
	body {
		font-size: 1.05rem;
		line-height: 1.5;
	}
	.navbar,
	.section {
		padding-right: 5%;
		padding-left: 5%;
	}
	.section.equipment {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.section.equipment .container-new {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.container-new {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.col-25 {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 0;
	}
	.overline {
		margin-top: 0;
	}

	.equipment-content {
		flex-direction: column;
	}
	.equipment-image {
		width: 100%;
		margin-bottom: 20px;
	}
	.equipment-text {
		width: 100%;
	}
	.item-text-category .tag {
		padding: 0.2rem 0.6rem;
		margin-bottom: 0.3rem;
		margin-right: 0.3rem;
	}
	.item-text-category .tag:first-child {
		margin-left: 0.3rem;
	}
	.item-text-category.tag-cotainer {
		margin-bottom: 0rem;
	}
	.form input,
	textarea {
		padding: 16px 4vw 16px 2vw;
	}
	.scrolldown {
		width: 10px;
		height: 10px;
	}
}
